[submodule "Utils"]
	path = Utils
	url = https://github.com/RedOrbweaver/Utils.git
[submodule "Networking"]
	path = Networking
	url = https://github.com/RedOrbweaver/Networking.git
[submodule "Engine"]
	path = Engine
	url = https://github.com/RedOrbweaver/Engine.git
